.upper {
    display: flex;
    justify-content: center;
}

.upper i {
    font-size: 50px;
    padding-right: 10px;
    padding-top: 20px;
}

div span {
    display: block;
    font-weight: 600;
    padding: 3px;
    font-size: 20px;
}

.lower {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.lower i {
    padding: 0 10px;
    font-size: 40px;
}

.weather {
    padding: 35px 0;
}

.icon {
    padding-bottom: 15px;
    font-size: 15px;
}

.climate {
    font-size: 15px;
    text-align: center;
    padding-right: 15px;
}

.temprature {
    font-size: 50px;
}

.metrics {
    padding: 0;
    margin-top: 23px;
    font-size: 40px;
    text-align: center;
    display: block;
    height: 40px;
    width: 40px;
    background: none;
    border-radius: 50%;
    border: none;
}

button {
    outline: none;
    color: #ffffff
}

.metrics:hover {
    border: solid 1px white;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
}